<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Commit To Fitness</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <style>
            body {
              background-color: black;
              color: white; /* Optional: Sets text color to white for better visibility on a black background */
            }
          </style>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header" style="color: white;">Python school</h1>
            
            <div class="ui center aligned container">
            <button class="ui inverted primary button" style="font-size: 2em; padding: 15px 30px;"><a href="/squats/counting">Squat Counting Detection</a></button>  
            <button class="ui inverted primary button" style="font-size: 2em; padding: 15px 30px;"><a href="/squats/posture">Squat Posture Detection</a></button>
            <br/><br/>
            <button class="ui inverted orange button" style="font-size: 2em; padding: 15px 30px;"><a href="/pushUp/counting">Push Up Counting Detection</a></button>  
            <button class="ui inverted orange button" style="font-size: 2em; padding: 15px 30px;"><a href="/pushup">Push Up Posture Detection</a></button>
            <br/><br/>
            <button class="ui inverted pink button" style="font-size: 2em; padding: 15px 30px;"><a href="/curl">Bicep Curls</a></button>  
            <!-- <button class="ui inverted pink button" style="font-size: 2em; padding: 15px 30px;"><a href="/bicepCurls/posture">Bicep Curls Posture Detection</a></button> -->
            <br/><br/>
            <button class="ui inverted olive button" style="font-size: 2em; padding: 15px 30px;"><a href="/shoudlerPress/counting">Shoulder Press Counting Detection</a></button> <br/><br/>
            <button class="ui inverted olive button" style="font-size: 2em; padding: 15px 30px;"><a href="/shoudlerPress/posture">Shoulder Press Posture Detection</a></button>
            </div>
                
    </body>
</html>
